################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/MapleMini/bin/Debug/x64
/.vs
/bin/Debug
